@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  /* color: #841818; */
  text-decoration: inherit;
}

h2 {
  font-family: "Libre Franklin", sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: #eeeeee;
  /* background: linear-gradient(to bottom, #eeeeee, #8b8b8b); */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* border-radius: 8px; */
  /* border: 1px solid transparent; */
  /* padding: 0.6em 1.2em; */
  /* font-size: 1em; */
  /* font-weight: 500; */
  font-family: inherit;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

#scrollSect::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

#scrollSect::-webkit-scrollbar-track {
  background: transparent;
}

#scrollSect::-webkit-scrollbar-thumb {
  background-color: #85878b;
  border-radius: 50px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

@media (max-width: 768px) {
  #banner_title {
    font-size: 1.7rem;
    text-align: center;
  }
  #welcome_user {
    text-align: center;
  }
  #lg_buttons {
    display: none;
  }
}